<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> <%= title %> !!</p>
    <table>
      <tr>
        <td> 메뉴 : <input type="text" disabled=true style="width:80px" value= <%= menu %>> </td>
       </tr>
       <tr>
         <td>가격 : <input type="text" disabled=true style="width:28px" value= <%= cost %>> </td> 
       </tr>
       <tr>
          <td>수량 : <input type="text" disabled=true style="width:28px" value= <%= number %> ></td>
      </tr>
      <tr>
        <td>금액 : <input type="text" disabled=true style="width:68px" value= <%= total %> ></td>
      </tr>
    </table>
  </body>

</html>
